<!--  obj is a chatroom -->
<div class="chatbox_chat">
  <div class="chatbox_chat_name" id="chat<%=obj.id%>" onclick="chatbox_chat_clicked(this)">
    <%=obj.name%>
  </div>
  <div class="chatbox_chat_users">

  </div>
</div>
