
App.cable.subscriptions.create({channel: "ChatroomsChannel", room: "chatrooms:<%=@chatroom.id%>"}, {
  connected() {
    // Called when the subscription is ready for use on the server
    console.log("connected");
  },
  disconnected() {
    // Called when the subscription has been terminated by the server
    console.log("disconnected");
  },

  received(data) {
    $("#messages_container_" + data.chatroom_id).append(data.message)
  }
}
);

html = '<div class = "chatbox_chat"><button class="chatbox_chat_btn" id="chat<%=@chatroom.id%>" onclick="chatbox_chat_clicked(this)"><%=@chatroom.users[1].username%></button></div>'
$("#chatbox_chat_wrap").append(html);

if (num_open_chats < max_open_chats) {
  num_open_chats += 1;
  $("#chat_wrapper" + num_open_chats).append("<%= escape_javascript("#{render 'layouts/show_chat'}").html_safe%>");
  $("#chat_wrapper" + num_open_chats).css("visibility", "visible");
}
