<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
  </head>
  <body>
    <%= render 'layouts/navigation'%>
    <!-- <div class="loader"></div> -->
    <div id="map"></div>
    <button id="all_chat_btn" onclick="open_all_chats()">All Chats</button>

    <!-- ALL CHATS BOX -->
    <div id="all_chats_box">

      <!--  TITLEBAR -->
      <div id="all_chats_titlebar">
        <button id="toggle_all_chat_btn" onclick="toggle_all_chats()">-</button>
      </div>

      <!-- CONTENT -->
      <div id="chatbox_chat_wrap">
        <% @user_chatrooms.each do |chat| %>
          <%= render 'chatrooms/chatbox_chat', obj: chat%>
        <% end %>
      </div>

      <!-- SEARCH FOOTER -->
      <div id="chatbox_search">
        <input type="text" id="chat_search" placeholder="Search">
      </div>
    </div>
    <div class="chat_wrapper" id="chat_wrapper1">
    </div>
    <div class="chat_wrapper" id="chat_wrapper2">
    </div>
    <div class="chat_wrapper" id="chat_wrapper3">
    </div>
    <div class="chat_wrapper" id="chat_wrapper4">
    </div>
    <div class="chat_wrapper" id="chat_wrapper5">
    </div>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrYySOEmU2zONaFPMdMNj7UNvvz7E0Tv0&libraries=drawing,geometry&callback=initMap"
type="text/javascript"></script>

    <!-- Modal -->
    <div class="modal fade" id="cname_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <input type="text" id="conv_name_field" placeholder="Enter a name...">
          </div>
        </div>
      </div>
    </div>


  </body>
</html>
