<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
  </head>
  <body>
    <%= render 'layouts/navigation' %>
    <div id="map" class="map"></div>
    <!-- <button type="button" id="test_btn">Click Me!</button> -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMmmqjRIzq8wk25dtNqId-hkqblHkOKs8&callback=initMap"
    async defer></script>
    <div class="chat_footer">
      <div class="all_outgoing_chats">

      </div>
      <div id="chat1">
        
      </div>
    </div>
  </body>
</html>

<!-- <div id="chat_footer">
  <button type="button" id="all_convos_btn" onclick="alert('Hello world!')">All Chats</button>
</div>
<div id="open_chats">
  <div class="chat1">
    <button id="btn1">Chat</button>
  </div>
</div> -->
