<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
  </head>
  <body>
    <%= render 'layouts/navigation'%>
    <div id="map"></div>
    <button id="all_chat_btn" onclick="open_all_chats()">All Chats</button>
    <div id="all_chats_box">
      <div id="all_chats_titlebar">
        <button id="toggle_all_chat_btn" onclick="toggle_all_chats()">-</button>
      </div>
      <div id="chatbox_chat_wrap">
        <% @user_chatrooms.each do |chat| %>
          <%= render 'chatrooms/chatbox_chat', obj: chat%>
        <% end %>
      </div>
      <div id="chatbox_search">
        <input type="text" id="chat_search" placeholder="Search">
      </div>
    </div>
    <div class="chat_wrapper" id="chat_wrapper1">
    </div>
    <div class="chat_wrapper" id="chat_wrapper2">
    </div>
    <div class="chat_wrapper" id="chat_wrapper3">
    </div>
    <div class="chat_wrapper" id="chat_wrapper4">
    </div>
    <div class="chat_wrapper" id="chat_wrapper5">
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMmmqjRIzq8wk25dtNqId-hkqblHkOKs8&libraries=drawing,geometry&callback=initMap"
    async defer></script>

  </body>
</html>
