<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
  </head>
  <body>
    <%= render 'layouts/navigation'%>
    <div id="map"></div>
    <button id="all_chat_btn" onclick="open_all_chats()">All Chats</button>
    <div id="all_chats_box">
      <div id="all_chats_titlebar">
        <button id="toggle_all_chat_btn" onclick="toggle_all_chats()">-</button>
      </div>
      <div id="chatbox_chat_wrap">
        <% @user_chatrooms.each do |chat| %>
          <div class="chatbox_chat">
            <button class="chatbox_chat_btn" id="chat<%=chat.id%>" onclick="chatbox_chat_clicked(this)"><%=chat.users[1].username%></button>
          </div>
        <% end %>
      </div>
      <div id="chatbox_search">
        <input type="text" id="chat_search" placeholder="Search">
      </div>
    </div>
    <div id="chat_wrapper1">
    </div>
    <div id="chat_wrapper2">
    </div>
    <div id="chat_wrapper3">
    </div>
    <div id="chat_wrapper4">
    </div>
    <div id="chat_wrapper5">
    </div>
    <!-- <button type="button" id="test_btn">Click Me!</button> -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMmmqjRIzq8wk25dtNqId-hkqblHkOKs8&callback=initMap"
    async defer></script>

  </body>
</html>
