<h1>Welcome to MapChat!</h1>

<p>
	Each
		<%= image_tag "https://www.chilterns2030s.org.uk/ramblers/images/marker-start.png", height: "50px" %>
	represents a user and their location on the map.
</p>

<p>
	You can either start a chat with a single user or a group of users. Simply click the
	<%= image_tag "https://www.chilterns2030s.org.uk/ramblers/images/marker-start.png", height: "50px" %>
	icon to start a chat with that user.
</p>

<p>
	To start a groupchat, click the
	<%= image_tag "draw_btn.png", height: "50px" %>
	icon, then draw a perimeter around your desired users.
</p>
<br>
<br>
<br>
<%=link_to "Back to map", users_path%>
