<div class="center jumbotron">
  <%= link_to "Sign up", new_user_registration_path, class: "btn-xlarge btn btn-danger btn-lg signup_btn" %>
  <br>
  <br>
  <%= link_to "Login", new_user_session_path, class: "btn-xlarge btn btn-danger btn-lg login_btn" %>
</div>
