<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
  </head>
  <body>
    <div id="map"></div>
    <button type="button" id="test_btn">Click Me!</button>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMmmqjRIzq8wk25dtNqId-hkqblHkOKs8&callback=initMap"
    async defer></script>
  </body>
</html>
