<div class="center jumbotron">
  <%= link_to "Sign up", signup_path, class: "btn-xlarge btn btn-danger btn-lg signup_btn" %>
  <br>
  <br>
  <%= link_to "Login", login_path, class: "btn-xlarge btn btn-danger btn-lg login_btn" %>
</div>
