.chatbox_chat {
  position: relative;
  width: 100%;
  height: 40px;
  border-bottom: 0.1px solid gray;
  &:hover {
    background-color:#d9d9d9;
  }
  cursor: pointer;
}


.chatbox_chat_name {
  height: 55%;
  width: 80%;
  overflow-x: hidden;
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  margin-left: 10px;
  top: -3px;
}

.chatbox_chat_users {
  position: relative;
  height: 45%;
  width: 50%;
  margin-left: 10px;
}

.chatbox_chat_users_image {
  position: absolute;
  height: 85%;
  width: 17px;
  background: {
    image: asset-url('users2.ico');
  }
  background-size: 100%;
}

.chatbox_chat_num_users {
  position: absolute;
  height: 100%;
  margin-top: 1px;
  margin-bottom: 1px;
  left: 21px;
  font-size: 12px;
  color: gray;
}
