/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

#map {
  height: 100%;
  display: block;
  position: fixed;
}

#logo {
  &:hover {
	cursor: pointer;
  }
}

#chat_wrapper1 {
  visibility: hidden;
  position: absolute;
  bottom: 0px;
  z-index: 99;
  width: 200px;
  height: 250px;
}

#chat_wrapper2 {
  visibility: hidden;
  position: absolute;
  bottom: 0px;
  z-index: 99;
  width: 200px;
  height: 250px;
}

#chat_wrapper3 {
  visibility: hidden;
  position: absolute;
  bottom: 0px;
  z-index: 99;
  width: 200px;
  height: 250px;
}

#chat_wrapper4 {
  visibility: hidden;
  position: absolute;
  bottom: 0px;
  z-index: 99;
  width: 200px;
  height: 250px;
}

#chat_wrapper5 {
  visibility: hidden;
  position: absolute;
  bottom: 0px;
  z-index: 99;
  width: 200px;
  height: 250px;
}


.collapse_chat_btn {
  display: none;
  width: 150px;
  height: 30px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 99;
}

.collapse_chat_container {
  width: 150px;
  height: 30px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 99;
  background-color: #96D2F0;
}

.collapse_chat_togggle_open {
	background-color: #96D2F0;

	&:focus {
		outline: 0;
	}
}

.collapse_chat_togggle_open {
  width: 80%;
  height: 100%;
  position: absolute;
}

.collapse_chat_close {
  width: 20%;
  height: 100%;
  position: absolute;
  right: 0;
  background-color: #96D2F0;

  &:focus {
	  outline: 0;
  }
}



.one_chat_open {
  width: 200px;
  height: 250px;
  position: absolute;
  z-index: 99;
  border: 2px solid black;
  background-color: white;
  bottom: 0px;
  left: 0px;
}

.messages_header {
  height: 10%;
  border: 1px solid black;
	background-color: #96D2F0;
}

.close_chat_btn {
  float: left;
  height: 90%;
  width: 10%;
}

.toggle_chat_btn {
  float: right;
  height: 90%;
  width: 10%;
}

.messages_header_username {
  text-align:center;
  width: 80%;

  &:hover {
	cursor: pointer;
  }
}


.messages_container {
  height: 80%;
  border: 1px solid black;
  overflow-y: scroll;
  overflow-x: hidden;
  overflow:auto;
  overflow-wrap: break-word;
  background-color: #C8E5F3;
}

.new_messages_container {
  height: 10%;
  background-color: #C8E5F3;
}

.message_field {
  resize: none;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background-color: #C8E5F3;
  line-height: 20px;
}


//remove terms of use
.gm-style-cc {
  display:none;
}



/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  width: 100%;
}

.login_btn {
  position: absolute;
  left: 25%;
  top: 15%;
  background-color: gray;
  border: none;
  color:black;

  &:hover {
	background-color: gray;
	color: white;
  }

  &:active {
	background-color: #a6a6a6;
  }
}

.signup_btn {
  position: absolute;
  right: 25%;
  top: 15%;
  background-color: gray;
  border: none;
  color: black;

  &:hover {
	background-color: gray;
	color: white;
  }

  &:active {
	background-color: black;
  }
}
