/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

#map {
  height: 100%;
  display: block;
  position: fixed;
}

#all_chats_titlebar {
  height: 5%;
  border: 1px solid black;
}

#chatbox_chat_wrap {
  height: 88%;
  overflow-y: scroll;
}

#chatbox_search {
  width: 100%;
  height: 7%;
  border: 1px solid black;
}

#chat_search {
  width: 100%;
  height: 100%;
}

.chatbox_chat {
  width: 100%;
}

.chatbox_chat_btn {
  text-align: center;
  width: 100%;
}

#all_chats_box {
  display: none;
  width: 150px;
  height: 500px;
  position: absolute;
  bottom: 0px;
  left: 10px;
  z-index: 99;
  border: 5px solid black;
  background-color: white;
}

#all_chat_btn {
  width: 150px;
  height: 30px;
  position: absolute;
  z-index: 99;
  bottom: 0px;
  left: 10px;
}

#toggle_all_chat_btn {
  float: right;
  height: 90%;
}

#chat_wrapper1 {
  position: absolute;
  bottom: 0px;
  left: 200px;
  z-index: 99;
  width: 200px;
  height: 250px;
}

#chat_wrapper2 {
  position: absolute;
  bottom: 0px;
  left: 400px;
  z-index: 99;
  width: 200px;
  height: 250px;
}

#chat_wrapper3 {
  position: absolute;
  bottom: 0px;
  left: 600px;
  z-index: 99;
  width: 200px;
  height: 250px;
}

#chat_wrapper4 {
  position: absolute;
  bottom: 0px;
  left: 800px;
  z-index: 99;
  width: 200px;
  height: 250px;
}

#chat_wrapper5 {
  position: absolute;
  bottom: 0px;
  left: 1000px;
  z-index: 99;
  width: 200px;
  height: 250px;
}


.collapse_chat_btn {
  display: none;
  width: 150px;
  height: 30px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 99;
}

.collapse_chat_container {
  display: none;
  width: 150px;
  height: 30px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 99;
}

.collapse_chat_togggle_open {
  width: 80%;
  height: 100%;
  position: absolute;
}

.collapse_chat_close {
  width: 20%;
  height: 100%;
  position: absolute;
  right: 0;
}



.one_chat_open {
  display: none;
  width: 200px;
  height: 250px;
  position: absolute;
  z-index: 99;
  border: 2px solid black;
  background-color: white;
  bottom: 0px;
  left: 0px;
}

.messages_header {
  height: 10%;
  border: 1px solid black;
}

.close_chat_btn {
  float: left;
  height: 90%;
}

.toggle_chat_btn {
  float: right;
  height: 90%;
}


.messages_container {
  height: 80%;
  overflow-y: scroll;
}

.new_messages_container {
  height: 10%;
  border: 1px solid black;
}


//remove terms of use
.gm-style-cc {
  display:none;
}



/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  width: 100%;
}

.login_btn {
  vertical-align: middle;
}
