/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  margin-top: 52px;
  height: 85%;
}

//remove terms of use
.gm-style-cc {
  display:none;
}

.chat_footer {
  height: 15%;
}

.all_outgoing_chats {
  width: 10%;
  height: 100%;
  float: left;
}

#chat1 {
  width: 10%;
  height: 100%;
  float: left;
}

// #chat_footer {
//   position: absolute;
//   top: 96.5%;
//   right: 85.4%;
//   z-index: 99;
//   float: left;
// }
//
// #open_chats {
//   float: left;
// }
//
// .chat1 {
//   display: inline-block;
//   height: 90px;
//   z-index: 99;
//   float: left;
// }
//
// #all_convos_btn {
//   width: 250%
// }

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.login_btn {
  vertical-align: middle;
}
