<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a id="logo", onclick="getCent()">MC</a></li>
      </ul>
      <form class="navbar-form navbar-left">
        <input type="text" class="form-control" id="search_loc_field" placeholder="Search US City">
        <button type="button" class="btn btn-default" id="search_loc_button">Go</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
